# Optional satellite tiles for MapLibre (farmer field map).
# Default: Esri World Imagery (no key).
# For Google-style satellite imagery you may set (compliance with Google Maps Platform ToS is your responsibility):
# VITE_SATELLITE_TILES=https://mt1.google.com/vt/lyrs=s&x={x}&y={y}&z={z}
# VITE_SATELLITE_ATTRIBUTION=© Google
